.foto{
    border-radius: 10px;
    width: 125px;
    height: 125px;
    padding: 1px;
    margin-bottom: 1em;
}

.example-card {
    max-width: 400px;
    height: 12em;
    margin: 8px;
    background-color: rgb(48, 48, 48);
    display: inline-block;
    
  
  }

.divcard .name{
    font-size: 1em;
    font-weight: bold;
    color: white;;
    margin: 4px;
}

.divcard .Informaci p{

 
    height: 10px;
    color: white;
    margin: 4px;
}

.divcard{
    background: rgb(112, 112, 112);
    display: inline-block;
    height: 115px;
    margin-bottom: 1px;
}


.Card{
    padding: 1px;
    margin: 5px;
    
}

